<div class="large-8 medium-8 columns" ng-controller="LinksController as linksCtrl" ng-cloak id="link-listing">
    <div class="large-12 small-12 columns">
        <div ng-repeat="link in linksCtrl.getAll() | limitTo:12 | orderBy:linksCtrl.getOrder()">
            <div class="row link-item">
                <div class="row">
                    <div class="large-2 medium-2 small-3 columns">
                        <div class="upvote-button-group float-right">
                            <button id="upvote-{{link.id}}" class="upvote-button" ng-click="linksCtrl.upvote(link.id)">
                                <img src="img/up-arrow.png" class="up-arrow"/>
                            </button>
                            <span id="score">
                                <strong id="value">{{link.votes.length}}</strong>
                            </span>
                        </div>
                    </div>
                    <div class="large-10 medium-10 small-9 text-left columns">
                        <div class="row">
                            <a href="{{link.url}}" target="_blank">{{link.title}}</a>
                        </div>
                        <div class="row">
                            <small>Added by
                                <a href="#">{{link.user.username}}</a>
                                on {{link.created_at | date:"MMM d, yyyy 'at' h:m"}} -
                                <a href="#" data-reveal-id="commentModal" ng-click="linksCtrl.setActive(link.id)">
                                    Discuss ({{link.comments.length}})
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>